@import url("./normalize.css");
/* line 111, D:/just_development/desctop/css/scss/styles.scss */
body {
  font-family: 'Roboto', sans-serif;
  color: #8D96BD;
  padding-top: 5rem;
}

/* line 118, D:/just_development/desctop/css/scss/styles.scss */
.section-outer {
  padding: 0 1.25rem;
  border-bottom: 1px solid #F5F8FF;
}

/* line 122, D:/just_development/desctop/css/scss/styles.scss */
.section-inner {
  max-width: 900px;
  margin: 0 auto;
}

/* line 128, D:/just_development/desctop/css/scss/styles.scss */
.section-inner--wide {
  max-width: 1200px;
}

/* line 139, D:/just_development/desctop/css/scss/styles.scss */
.vertical-indent--s {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

/* line 140, D:/just_development/desctop/css/scss/styles.scss */
.vertical-indent--m {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

/* line 141, D:/just_development/desctop/css/scss/styles.scss */
.vertical-indent--l {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

@media (max-width: 991px) {
  /* line 144, D:/just_development/desctop/css/scss/styles.scss */
  .vertical-indent--m {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  /* line 145, D:/just_development/desctop/css/scss/styles.scss */
  .vertical-indent--l {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 575px) {
  /* line 149, D:/just_development/desctop/css/scss/styles.scss */
  .vertical-indent--m {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  /* line 150, D:/just_development/desctop/css/scss/styles.scss */
  .vertical-indent--l {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

/* line 154, D:/just_development/desctop/css/scss/styles.scss */
.input {
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  color: #7A85AD;
  background: #E9EFFF;
  border: 1px solid transparent;
  border-radius: 0.125rem;
}

/* line 162, D:/just_development/desctop/css/scss/styles.scss */
.input--size-lg {
  padding: 1.25rem 1.5rem;
  border-radius: 0.25rem;
}

/* line 168, D:/just_development/desctop/css/scss/styles.scss */
.btn {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0;
  padding: 0.75rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 0.125rem;
  background: none;
  transition: 0.2s;
  cursor: pointer;
}

/* line 185, D:/just_development/desctop/css/scss/styles.scss */
.btn--size-lg {
  padding: 1.25rem 3.75rem;
  border-radius: 0.25rem;
}

@media (max-width: 991px) {
  /* line 185, D:/just_development/desctop/css/scss/styles.scss */
  .btn--size-lg {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

/* line 195, D:/just_development/desctop/css/scss/styles.scss */
.btn--primary {
  color: #3A79FF;
  background-color: #C7D3FF;
}

/* line 199, D:/just_development/desctop/css/scss/styles.scss */
.btn--primary:hover {
  background-color: #aebfff;
}

/* line 204, D:/just_development/desctop/css/scss/styles.scss */
.btn--danger {
  color: #D43F3F;
  background-color: #FFD7D7;
}

/* line 209, D:/just_development/desctop/css/scss/styles.scss */
.btn--danger:hover {
  background-color: #ffbebe;
}

/* line 214, D:/just_development/desctop/css/scss/styles.scss */
.btn--secondary {
  color: #fff;
  background-color: #4C85FF;
}

/* line 219, D:/just_development/desctop/css/scss/styles.scss */
.btn--secondary:hover {
  background-color: #3374ff;
}

/* line 223, D:/just_development/desctop/css/scss/styles.scss */
.btn--secondary-inverted {
  color: #565F82;
  background-color: #fff;
}

/* line 227, D:/just_development/desctop/css/scss/styles.scss */
.btn--secondary-inverted:hover {
  background-color: #f2f2f2;
}

/* line 233, D:/just_development/desctop/css/scss/styles.scss */
.btn--grayscale {
  color: #7382A3;
  background-color: #F5F8FF;
  box-shadow: 0 0.25rem 0.25rem rgba(201, 209, 231, 0.25);
}

/* line 238, D:/just_development/desctop/css/scss/styles.scss */
.btn--grayscale:hover {
  background-color: #dce6ff;
}

/* line 243, D:/just_development/desctop/css/scss/styles.scss */
.btn--no-bg {
  color: #ADB4D2;
  border: 1px solid #C7D3FF;
}

/* line 247, D:/just_development/desctop/css/scss/styles.scss */
.btn--no-bg:hover {
  color: #8c96c0;
  border: 1px solid #94abff;
}

/* line 252, D:/just_development/desctop/css/scss/styles.scss */
.btn--no-bg-inverted {
  color: #C7D3FF;
  border-color: #E9EFFF;
}

/* line 256, D:/just_development/desctop/css/scss/styles.scss */
.btn--no-bg-inverted:hover {
  color: #fafbff;
  border-color: white;
}

/* line 264, D:/just_development/desctop/css/scss/styles.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

/* line 277, D:/just_development/desctop/css/scss/styles.scss */
h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1rem;
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #3D4F9F;
}

/* line 286, D:/just_development/desctop/css/scss/styles.scss */
.section-subtitle {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 1.75rem;
  font-size: 3rem;
  color: #3D4F9F;
}

/* line 294, D:/just_development/desctop/css/scss/styles.scss */
.ta-c {
  text-align: center;
}

/* line 298, D:/just_development/desctop/css/scss/styles.scss */
.dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

/* line 305, D:/just_development/desctop/css/scss/styles.scss */
.swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

/* line 314, D:/just_development/desctop/css/scss/styles.scss */
.swiper-pagination-bullet::before {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  content: '';
  background-color: #C7D3FF;
  border-radius: 100%;
  transition: 0.2s;
}

/* line 324, D:/just_development/desctop/css/scss/styles.scss */
.swiper-pagination-bullet-active::before {
  background-color: #5283FF;
}

/* line 328, D:/just_development/desctop/css/scss/styles.scss */
.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 0.25rem;
}

/* line 333, D:/just_development/desctop/css/scss/styles.scss */
.btn-group {
  display: inline-flex;
}

/* line 336, D:/just_development/desctop/css/scss/styles.scss */
.btn-group .btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 341, D:/just_development/desctop/css/scss/styles.scss */
.btn-group .btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 347, D:/just_development/desctop/css/scss/styles.scss */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

/* line 362, D:/just_development/desctop/css/scss/styles.scss */
.main-navigation {
  display: flex;
  align-items: center;
}

/* line 366, D:/just_development/desctop/css/scss/styles.scss */
.main-navigation__inner-wrap {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 4.5rem;
}

@media (max-width: 991px) {
  /* line 372, D:/just_development/desctop/css/scss/styles.scss */
  .section-header .main-navigation__inner-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    display: none;
    left: 0;
    margin-left: 0;
    padding: 1.25rem;
    background-color: #fff;
  }
}

@media (max-width: 991px) {
  /* line 366, D:/just_development/desctop/css/scss/styles.scss */
  .main-navigation__inner-wrap {
    flex-direction: column;
  }
  /* line 389, D:/just_development/desctop/css/scss/styles.scss */
  .main-navigation__inner-wrap .socials,
  .main-navigation__inner-wrap .nav {
    margin-bottom: 1rem;
  }
  /* line 394, D:/just_development/desctop/css/scss/styles.scss */
  .main-navigation__inner-wrap,
  .main-navigation__inner-wrap .socials,
  .main-navigation__inner-wrap .btn-wrapper {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  /* line 403, D:/just_development/desctop/css/scss/styles.scss */
  .section-footer .main-navigation {
    flex-direction: column;
  }
  /* line 406, D:/just_development/desctop/css/scss/styles.scss */
  .section-footer .main-navigation .logo {
    margin-bottom: 1rem;
  }
}

/* line 414, D:/just_development/desctop/css/scss/styles.scss */
.logo__link {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #5E81FE;
}

/* line 423, D:/just_development/desctop/css/scss/styles.scss */
.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

/* line 429, D:/just_development/desctop/css/scss/styles.scss */
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 2.5rem;
}

@media (max-width: 575px) {
  /* line 429, D:/just_development/desctop/css/scss/styles.scss */
  .nav-wrapper__item + .nav-wrapper__item {
    margin-left: 0;
  }
}

/* line 437, D:/just_development/desctop/css/scss/styles.scss */
.nav-wrapper__item-link {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.75rem;
  color: #495274;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

/* line 446, D:/just_development/desctop/css/scss/styles.scss */
.nav-wrapper__item-link:hover {
  color: #5E81FE;
}

/* line 450, D:/just_development/desctop/css/scss/styles.scss */
.nav-wrapper__item-link--active {
  font-weight: 700;
  color: #5E81FE;
}

@media (max-width: 575px) {
  /* line 423, D:/just_development/desctop/css/scss/styles.scss */
  .nav-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

/* line 463, D:/just_development/desctop/css/scss/styles.scss */
.socials {
  margin-left: auto;
}

/* line 467, D:/just_development/desctop/css/scss/styles.scss */
.socials-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

/* line 474, D:/just_development/desctop/css/scss/styles.scss */
.socials-wrapper__item {
  margin-left: 2.25rem;
}

/* line 479, D:/just_development/desctop/css/scss/styles.scss */
.socials-wrapper__item-link path {
  fill: #495274;
  transition: 0.2s;
}

/* line 485, D:/just_development/desctop/css/scss/styles.scss */
.socials-wrapper__item-link:hover path {
  fill: #5E81FE;
}

/* line 491, D:/just_development/desctop/css/scss/styles.scss */
.btn-wrapper {
  margin-left: 2.75rem;
}

/* line 498, D:/just_development/desctop/css/scss/styles.scss */
.section-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

/* line 506, D:/just_development/desctop/css/scss/styles.scss */
.section-header::before {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 518, D:/just_development/desctop/css/scss/styles.scss */
.section-header--active-nav::before {
  display: block;
}

/* line 522, D:/just_development/desctop/css/scss/styles.scss */
.section-header--active-nav .main-navigation__inner-wrap {
  display: flex;
}

/* line 528, D:/just_development/desctop/css/scss/styles.scss */
.btn-burger {
  display: none;
  margin-left: auto;
}

/* line 532, D:/just_development/desctop/css/scss/styles.scss */
.btn-burger__line {
  display: block;
  width: 1rem;
  height: 0.125rem;
  background-color: #C7D3FF;
}

/* line 538, D:/just_development/desctop/css/scss/styles.scss */
.btn-burger__line + .btn-burger__line {
  margin-top: 0.25rem;
}

@media (max-width: 991px) {
  /* line 528, D:/just_development/desctop/css/scss/styles.scss */
  .btn-burger {
    display: block;
  }
}

/* line 551, D:/just_development/desctop/css/scss/styles.scss */
.section-hero-image {
  position: relative;
  padding: 0;
  overflow: hidden;
}

/* line 556, D:/just_development/desctop/css/scss/styles.scss */
.section-hero-image .dots {
  position: absolute;
  bottom: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
}

/* line 564, D:/just_development/desctop/css/scss/styles.scss */
.slider-hero-image {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

/* line 569, D:/just_development/desctop/css/scss/styles.scss */
.slider-hero-image__item {
  min-width: 100%;
  height: 35rem;
  text-align: center;
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 578, D:/just_development/desctop/css/scss/styles.scss */
.slider-hero-image__item-content .section-subtitle {
  font-weight: 300;
}

/* line 581, D:/just_development/desctop/css/scss/styles.scss */
.slider-hero-image__item-content .section-subtitle span {
  font-weight: 500;
}

/* line 585, D:/just_development/desctop/css/scss/styles.scss */
.slider-hero-image__item-content .text {
  max-width: 60%;
  margin: 0 auto 1.25rem;
  line-height: 2;
}

/* line 594, D:/just_development/desctop/css/scss/styles.scss */
.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.25rem;
  height: 3.25rem;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0.5rem 3rem rgba(201, 209, 231, 0.6);
}

/* line 604, D:/just_development/desctop/css/scss/styles.scss */
.icon-play svg {
  width: 0.75rem;
  height: 0.75rem;
}

/* line 614, D:/just_development/desctop/css/scss/styles.scss */
.section-customers .section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 619, D:/just_development/desctop/css/scss/styles.scss */
.section-customers .section-inner a {
  opacity: .3;
  transition: 0.2s;
}

/* line 623, D:/just_development/desctop/css/scss/styles.scss */
.section-customers .section-inner a:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  /* line 614, D:/just_development/desctop/css/scss/styles.scss */
  .section-customers .section-inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 632, D:/just_development/desctop/css/scss/styles.scss */
  .section-customers .section-inner a {
    flex-basis: 45%;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

/* line 644, D:/just_development/desctop/css/scss/styles.scss */
.section-plan-and-manage {
  position: relative;
  overflow: hidden;
  background-color: #F5F8FF;
}

/* line 649, D:/just_development/desctop/css/scss/styles.scss */
.section-plan-and-manage__content {
  width: 60%;
}

/* line 652, D:/just_development/desctop/css/scss/styles.scss */
.section-plan-and-manage__content .aside-image {
  position: absolute;
  top: 0;
  left: 50%;
}

/* line 658, D:/just_development/desctop/css/scss/styles.scss */
.section-plan-and-manage__content .section-subtitle {
  font-weight: 300;
}

/* line 661, D:/just_development/desctop/css/scss/styles.scss */
.section-plan-and-manage__content .section-subtitle span {
  font-weight: 500;
}

/* line 666, D:/just_development/desctop/css/scss/styles.scss */
.section-plan-and-manage__content .text {
  margin-bottom: 3rem;
  line-height: 2;
}

/* line 672, D:/just_development/desctop/css/scss/styles.scss */
.section-plan-and-manage__content .btn-group svg {
  margin-left: 0.25rem;
}

@media (min-width: 992px) {
  /* line 649, D:/just_development/desctop/css/scss/styles.scss */
  .section-plan-and-manage__content {
    width: 50%;
  }
}

@media (max-width: 575px) {
  /* line 649, D:/just_development/desctop/css/scss/styles.scss */
  .section-plan-and-manage__content {
    width: 70%;
  }
  /* line 683, D:/just_development/desctop/css/scss/styles.scss */
  .section-plan-and-manage__content .aside-image {
    left: 40%;
  }
}

/* line 692, D:/just_development/desctop/css/scss/styles.scss */
.section-features {
  background: url(../img/clouds.svg) no-repeat 50% 50%;
}

/* line 695, D:/just_development/desctop/css/scss/styles.scss */
.section-features .section-subtitle {
  font-weight: 500;
  font-size: 1.5rem;
}

/* line 700, D:/just_development/desctop/css/scss/styles.scss */
.section-features .btns {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* line 707, D:/just_development/desctop/css/scss/styles.scss */
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0 0 6.25rem;
  text-align: center;
}

/* line 714, D:/just_development/desctop/css/scss/styles.scss */
.features-list__item {
  flex-basis: 25%;
  position: relative;
}

/* line 721, D:/just_development/desctop/css/scss/styles.scss */
.features-list__item + .features-list__item {
  margin-left: 2.5rem;
}

/* line 724, D:/just_development/desctop/css/scss/styles.scss */
.features-list__item + .features-list__item::before {
  position: absolute;
  top: 7.5rem;
  left: -2.125rem;
  width: 1.75rem;
  height: 1px;
  content: '';
  background-color: #C7D3FF;
}

@media (max-width: 575px) {
  /* line 721, D:/just_development/desctop/css/scss/styles.scss */
  .features-list__item + .features-list__item {
    margin-left: 0;
    margin-bottom: 2.5rem;
  }
  /* line 738, D:/just_development/desctop/css/scss/styles.scss */
  .features-list__item + .features-list__item::before {
    display: none;
  }
}

/* line 744, D:/just_development/desctop/css/scss/styles.scss */
.features-list__item-icon {
  display: flex;
  margin: 0 auto 2rem;
  align-items: center;
  justify-content: center;
  width: 4.25rem;
  height: 4.25rem;
  background-color: #F5F8FF;
  border-radius: 100%;
}

/* line 755, D:/just_development/desctop/css/scss/styles.scss */
.features-list__item-title {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.75rem;
  font-size: 0.9375rem;
  font-weight: 700;
  color: #4074F8;
}

/* line 764, D:/just_development/desctop/css/scss/styles.scss */
.features-list__item-text {
  line-height: 2;
  font-size: 0.75rem;
}

@media (max-width: 575px) {
  /* line 714, D:/just_development/desctop/css/scss/styles.scss */
  .features-list__item {
    flex-basis: 45%;
  }
  /* line 772, D:/just_development/desctop/css/scss/styles.scss */
  .features-list__item-icon {
    margin-bottom: 1rem;
  }
  /* line 773, D:/just_development/desctop/css/scss/styles.scss */
  .features-list__item-title {
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 991px) {
  /* line 707, D:/just_development/desctop/css/scss/styles.scss */
  .features-list {
    margin-bottom: 3.75rem;
  }
}

@media (max-width: 575px) {
  /* line 707, D:/just_development/desctop/css/scss/styles.scss */
  .features-list {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.25rem;
  }
}

/* line 788, D:/just_development/desctop/css/scss/styles.scss */
.or-block {
  display: inline-flex;
  align-items: center;
  margin: 0 1rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 2.5rem;
}

/* line 796, D:/just_development/desctop/css/scss/styles.scss */
.or-block::before, .or-block::after {
  content: '';
  display: block;
  width: 1rem;
  height: 1px;
  background-color: #C7D3FF;
}

/* line 805, D:/just_development/desctop/css/scss/styles.scss */
.or-block::before {
  margin-right: 1rem;
}

/* line 807, D:/just_development/desctop/css/scss/styles.scss */
.or-block::after {
  margin-left: 1rem;
}

/* line 814, D:/just_development/desctop/css/scss/styles.scss */
.section-stats {
  display: flex;
  padding: 0;
  background-color: #E9EFFF;
}

/* line 819, D:/just_development/desctop/css/scss/styles.scss */
.section-stats__icon {
  margin-bottom: 1.5rem;
}

/* line 823, D:/just_development/desctop/css/scss/styles.scss */
.section-stats__number {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  margin-bottom: 1.75rem;
}

/* line 830, D:/just_development/desctop/css/scss/styles.scss */
.section-stats__text {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}

@media (min-width: 992px) {
  /* line 830, D:/just_development/desctop/css/scss/styles.scss */
  .section-stats__text {
    width: 40%;
  }
}

/* line 842, D:/just_development/desctop/css/scss/styles.scss */
.section-stats__left, .section-stats__right {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 4rem 5.5rem;
}

/* line 850, D:/just_development/desctop/css/scss/styles.scss */
.section-stats__left {
  text-align: right;
  background-color: #6888FF;
  color: #fff;
  align-items: flex-end;
}

/* line 856, D:/just_development/desctop/css/scss/styles.scss */
.section-stats__left h2 {
  color: #fff;
}

/* line 861, D:/just_development/desctop/css/scss/styles.scss */
.section-stats__right {
  color: #5E80FF;
}

/* line 864, D:/just_development/desctop/css/scss/styles.scss */
.section-stats__right h2 {
  color: #5E80FF;
}

@media (max-width: 575px) {
  /* line 870, D:/just_development/desctop/css/scss/styles.scss */
  .section-stats__left, .section-stats__right {
    padding: 2rem 2.5rem;
  }
}

/* line 879, D:/just_development/desctop/css/scss/styles.scss */
.section-blog {
  background-color: #F5F8FF;
}

/* line 882, D:/just_development/desctop/css/scss/styles.scss */
.section-blog .section-subtitle {
  font-weight: 500;
  font-size: 1.5rem;
}

/* line 888, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog {
  position: relative;
  margin-bottom: 6.25rem;
}

@media (max-width: 991px) {
  /* line 888, D:/just_development/desctop/css/scss/styles.scss */
  .slider-blog {
    margin-bottom: 3.75rem;
  }
}

/* line 897, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-container {
  position: relative;
  border: 1px solid #C7D3FF;
  background-color: #fff;
  box-shadow: 0 0.75rem 3rem #C7D3FF;
  overflow: hidden;
}

/* line 905, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

/* line 910, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  box-sizing: border-box;
  padding: 4rem 2rem;
}

/* line 917, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery {
  display: grid;
  grid-template-rows: repeat(2, 7.5rem);
  grid-template-columns: repeat(3, 7.5rem);
  grid-gap: 1rem;
  width: 100%;
}

/* line 925, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery .image-link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 1rem 6.25rem #F5F8FF;
}

/* line 932, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery .image-link::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 4rem;
  height: 4rem;
  content: '';
  background: #fff url(../img/loupe.svg) no-repeat 50% 50%;
  border-radius: 100%;
  opacity: 0;
  transition: 0.2s;
  transform: translate(-50%, -50%);
}

/* line 947, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery .image-link:hover::after {
  opacity: 1;
}

/* line 951, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery .image-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 957, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery .image-link::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: .7;
}

/* line 967, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery .image-link--b {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

/* line 971, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery .image-link--b::before {
  background: linear-gradient(transparent, #FFC735);
}

/* line 976, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery .image-link--sm-1 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

/* line 980, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery .image-link--sm-1::before {
  background: linear-gradient(transparent, #FF3535);
}

/* line 985, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery .image-link--sm-2 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

/* line 989, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-gallery .image-link--sm-2::before {
  background: linear-gradient(transparent, #35AAFF);
}

@media (max-width: 991px) {
  /* line 917, D:/just_development/desctop/css/scss/styles.scss */
  .slider-blog-wrapper__item-gallery {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }
  /* line 1000, D:/just_development/desctop/css/scss/styles.scss */
  .slider-blog-wrapper__item-gallery .image-link {
    grid-row: 1 / 2;
  }
  /* line 1003, D:/just_development/desctop/css/scss/styles.scss */
  .slider-blog-wrapper__item-gallery .image-link--b {
    grid-column: 1 / 2;
  }
  /* line 1004, D:/just_development/desctop/css/scss/styles.scss */
  .slider-blog-wrapper__item-gallery .image-link--sm-1 {
    grid-column: 2 / 3;
  }
  /* line 1005, D:/just_development/desctop/css/scss/styles.scss */
  .slider-blog-wrapper__item-gallery .image-link--sm-2 {
    grid-column: 3 / 4;
  }
}

/* line 1010, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-content {
  flex-grow: 1;
  margin-left: 1.25rem;
}

/* line 1014, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-content h3 {
  font-size: 2.25rem;
  margin-bottom: 1.75rem;
  color: #3D4F9F;
}

/* line 1020, D:/just_development/desctop/css/scss/styles.scss */
.slider-blog-wrapper__item-content .text {
  font-size: 0.9375rem;
  margin-bottom: 2.5rem;
  line-height: 2;
}

@media (max-width: 991px) {
  /* line 910, D:/just_development/desctop/css/scss/styles.scss */
  .slider-blog-wrapper__item {
    align-items: flex-start;
    flex-direction: column;
    padding: 1.5rem;
  }
  /* line 1032, D:/just_development/desctop/css/scss/styles.scss */
  .slider-blog-wrapper__item-gallery {
    width: 50%;
  }
  /* line 1036, D:/just_development/desctop/css/scss/styles.scss */
  .slider-blog-wrapper__item-content {
    position: relative;
    z-index: 5;
    margin-top: 1.5rem;
    margin-left: 0;
  }
  /* line 1042, D:/just_development/desctop/css/scss/styles.scss */
  .slider-blog-wrapper__item-content h3 {
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 575px) {
  /* line 1049, D:/just_development/desctop/css/scss/styles.scss */
  .slider-blog-wrapper__item-gallery {
    width: 100%;
  }
}

/* line 1056, D:/just_development/desctop/css/scss/styles.scss */
.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../img/icon-blog-arrow.svg) no-repeat 50% 50%;
}

/* line 1064, D:/just_development/desctop/css/scss/styles.scss */
.btn-blog--prev {
  right: 100%;
  margin-right: 4rem;
  transform: translateY(-50%);
}

/* line 1070, D:/just_development/desctop/css/scss/styles.scss */
.btn-blog--next {
  left: 100%;
  margin-left: 4rem;
  transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 1199px) {
  /* line 1056, D:/just_development/desctop/css/scss/styles.scss */
  .btn-blog {
    display: none;
  }
}

/* line 1083, D:/just_development/desctop/css/scss/styles.scss */
.section-quotes {
  background: linear-gradient(#EAF0FF, #F5F8FF);
  overflow: hidden;
}

/* line 1087, D:/just_development/desctop/css/scss/styles.scss */
.section-quotes .section-inner {
  display: flex;
  justify-content: space-between;
}

/* line 1091, D:/just_development/desctop/css/scss/styles.scss */
.section-quotes .section-inner .section-subtitle {
  font-size: 2.25rem;
  font-weight: 500;
}

@media (max-width: 991px) {
  /* line 1087, D:/just_development/desctop/css/scss/styles.scss */
  .section-quotes .section-inner {
    flex-direction: column;
  }
}

/* line 1101, D:/just_development/desctop/css/scss/styles.scss */
.section-quotes__left, .section-quotes__right {
  width: 45%;
}

@media (max-width: 991px) {
  /* line 1101, D:/just_development/desctop/css/scss/styles.scss */
  .section-quotes__left, .section-quotes__right {
    width: 100%;
  }
}

/* line 1111, D:/just_development/desctop/css/scss/styles.scss */
.section-quotes__left .text {
  line-height: 2;
}

/* line 1117, D:/just_development/desctop/css/scss/styles.scss */
.slider-quotes-container {
  width: calc(50vw + 3rem);
  margin: -3rem 0 -0.5rem;
  overflow: hidden;
}

@media (max-width: 991px) {
  /* line 1117, D:/just_development/desctop/css/scss/styles.scss */
  .slider-quotes-container {
    width: 110vw;
    margin-top: 0;
  }
}

/* line 1128, D:/just_development/desctop/css/scss/styles.scss */
.slider-quotes {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

/* line 1133, D:/just_development/desctop/css/scss/styles.scss */
.slider-quotes__item {
  min-width: 25vw;
  padding: 3rem;
  opacity: .5;
  transition: opacity 0.2s;
}

/* line 1139, D:/just_development/desctop/css/scss/styles.scss */
.slider-quotes__item.swiper-slide-active {
  opacity: 1;
}

@media (max-width: 991px) {
  /* line 1133, D:/just_development/desctop/css/scss/styles.scss */
  .slider-quotes__item {
    min-width: 50vw;
    margin-top: 0;
  }
}

/* line 1150, D:/just_development/desctop/css/scss/styles.scss */
.slider-quotes-item-content {
  position: relative;
  padding: 2.5rem 4.25rem 3.75rem;
  background-color: #fff;
  border: 1px solid #C7D3FF;
  box-shadow: 0 0.25rem 3rem #D4DCF1;
}

/* line 1157, D:/just_development/desctop/css/scss/styles.scss */
.slider-quotes-item-content__text {
  font-size: 0.9375rem;
  line-height: 2;
  color: #676F95;
}

/* line 1163, D:/just_development/desctop/css/scss/styles.scss */
.slider-quotes-item-content__photo {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 3.75rem;
  height: 3.75rem;
  overflow: hidden;
  background-color: #fff;
  border-radius: 100%;
  transform: translate(-50%, -1.875rem);
}

/* line 1183, D:/just_development/desctop/css/scss/styles.scss */
.section-faq .section-inner .section-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}

/* line 1190, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 1193, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item {
  border-bottom: 1px solid #C7D3FF;
}

/* line 1199, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item--active .arrow {
  stroke: #495274;
}

/* line 1204, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item--active .faq-accordion__item-trigger-icon {
  transform: rotate(0);
}

/* line 1208, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item--active .faq-accordion__item-trigger-text {
  font-weight: 700;
  color: #495274;
}

/* line 1214, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item--active .faq-accordion__item-content {
  display: flex;
}

/* line 1219, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item-trigger {
  display: flex;
  padding: 1rem;
  cursor: pointer;
}

/* line 1224, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item-trigger-icon {
  width: 1rem;
  margin-right: 1rem;
  text-align: center;
  transform: rotate(180deg);
}

/* line 1230, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item-trigger-icon .arrow {
  stroke: #8E96B7;
}

/* line 1235, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item-trigger-text {
  font-size: 0.9375rem;
}

/* line 1240, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item-content {
  display: none;
  padding: 0 1rem 1rem 3rem;
}

/* line 1244, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item-content-text {
  flex-grow: 1;
  font-size: 0.9375rem;
  line-height: 2;
}

/* line 1250, D:/just_development/desctop/css/scss/styles.scss */
.faq-accordion__item-content-btn {
  margin-left: 3.75rem;
}

@media (max-width: 575px) {
  /* line 1240, D:/just_development/desctop/css/scss/styles.scss */
  .faq-accordion__item-content {
    flex-direction: column;
  }
  /* line 1257, D:/just_development/desctop/css/scss/styles.scss */
  .faq-accordion__item-content-text {
    margin-bottom: 0.5rem;
  }
  /* line 1261, D:/just_development/desctop/css/scss/styles.scss */
  .faq-accordion__item-content-btn {
    margin-left: 0;
  }
}

/* line 1271, D:/just_development/desctop/css/scss/styles.scss */
.section-get-started {
  position: relative;
  color: #fff;
  text-align: center;
  background: linear-gradient(#6888FF, #5E80FF);
}

/* line 1277, D:/just_development/desctop/css/scss/styles.scss */
.section-get-started::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  content: '';
  background: url(../img/bg-clouds.svg) no-repeat 50% 50%;
}

/* line 1288, D:/just_development/desctop/css/scss/styles.scss */
.section-get-started .section-inner {
  position: relative;
  z-index: 10;
}

/* line 1292, D:/just_development/desctop/css/scss/styles.scss */
.section-get-started .section-inner h2 {
  color: #fff;
}

/* line 1296, D:/just_development/desctop/css/scss/styles.scss */
.section-get-started .section-inner .section-subtitle {
  font-weight: 300;
  color: #fff;
}

/* line 1300, D:/just_development/desctop/css/scss/styles.scss */
.section-get-started .section-inner .section-subtitle span {
  font-weight: 500;
}

/* line 1305, D:/just_development/desctop/css/scss/styles.scss */
.section-get-started .section-inner .text {
  margin: 0 auto 2.5rem;
  line-height: 2;
}

@media (min-width: 576px) {
  /* line 1305, D:/just_development/desctop/css/scss/styles.scss */
  .section-get-started .section-inner .text {
    max-width: 60%;
  }
}

/* line 1318, D:/just_development/desctop/css/scss/styles.scss */
.section-newsletter {
  background-color: #C7D3FF;
}

/* line 1321, D:/just_development/desctop/css/scss/styles.scss */
.section-newsletter .section-inner {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  /* line 1321, D:/just_development/desctop/css/scss/styles.scss */
  .section-newsletter .section-inner {
    flex-direction: column;
  }
}

/* line 1330, D:/just_development/desctop/css/scss/styles.scss */
.section-newsletter__left {
  flex-basis: 35%;
}

/* line 1333, D:/just_development/desctop/css/scss/styles.scss */
.section-newsletter__left-title {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: #3D4F9F;
  text-transform: none;
}

/* line 1342, D:/just_development/desctop/css/scss/styles.scss */
.section-newsletter__left-text {
  font-size: 0.9375rem;
  line-height: 2;
}

@media (max-width: 991px) {
  /* line 1330, D:/just_development/desctop/css/scss/styles.scss */
  .section-newsletter__left {
    margin-bottom: 1.25rem;
  }
}

/* line 1352, D:/just_development/desctop/css/scss/styles.scss */
.section-newsletter__right {
  flex-basis: 55%;
}

/* line 1357, D:/just_development/desctop/css/scss/styles.scss */
.form-newsletter {
  display: flex;
}

/* line 1360, D:/just_development/desctop/css/scss/styles.scss */
.form-newsletter__input {
  flex-grow: 1;
}

/* line 1364, D:/just_development/desctop/css/scss/styles.scss */
.form-newsletter__btn {
  margin-left: 1rem;
}

/* line 1371, D:/just_development/desctop/css/scss/styles.scss */
.section-footer {
  border-bottom: 0;
}

/* line 1375, D:/just_development/desctop/css/scss/styles.scss */
.copyright {
  font-family: 'Quicksand', sans-serif;
  margin-top: 1.75rem;
  margin-left: 6rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #AEB8D0;
}

@media (max-width: 991px) {
  /* line 1375, D:/just_development/desctop/css/scss/styles.scss */
  .copyright {
    margin-left: 0;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */