@import url('./normalize.css');
//@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// === MIXIN ===
@mixin roboto {
	font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
	font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
	margin: 0;
	padding: 0;
	list-style: none;
}
// === / MIXIN ===

// === FUNCTIONS ===
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@function rem($num) {
	@return (strip-unit($num) / 16) * 1rem;
}
// === / FUNCTIONS ===

// ===  VARIABLES ===
//$breakpoint-xs-min: 0;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1400px;

$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$base: rem(4px);

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xxs: rem(10px);
$fs-xs: rem(12px);
$fs-s: rem(15px);
$fs-m: rem(18px);
$fs-l: rem(24px);
$fs-xl: rem(36px);
$fs-xxl: rem(48px);

$transition: .2s;

$color-white: #fff;

//Red
$color-red-400: #FFD7D7;
$color-red-500: #FF3535;
$color-red-600: #D43F3F;

//Yellow
$color-yellow-500: #FFC735;

//Cian
$color-cian-500: #35AAFF;

//Gray
$color-gray-50: #F5F8FF;
$color-gray-100: #C7D3FF;
$color-gray-200: #AEB8D0;
$color-gray-300: #ADB4D2;
$color-gray-400: #8E96B7;
$color-gray-500: #8D96BD;
$color-gray-600: #7382A3;
$color-gray-700: #7A85AD;
$color-gray-800: #676F95;
$color-gray-900: #495274;

// Blue
$color-blue-50: #E9EFFF;
$color-blue-100: #6888FF;
$color-blue-200: #6188FF;
$color-blue-300: #5E80FF;
$color-blue-400: #5E81FE;
$color-blue-500: #4C85FF;
$color-blue-600: #5283FF;
$color-blue-700: #3A79FF;
$color-blue-800: #4074F8;
$color-blue-900: #3D4F9F;

// === / VARIABLES ===

// === COMMON ===
//html {
	//@media (max-width: $breakpoint-md-max) {
	//font-size: 14px;
	//}

	//@media (max-width: $breakpoint-sm-max) {
	//font-size: 10px;
	//}
//}

body {
	@include roboto;

	color: $color-gray-500;
	padding-top: $base * 20;
}

.section-outer {
	padding: 0 $base*5;
	border-bottom: 1px solid $color-gray-50;
}
.section-inner {
	max-width: 900px;
	margin: 0 auto;
	//padding-top: $padding-vertical;
	//padding-bottom: $padding-vertical;

	&--wide {
		max-width: 1200px;
	}
}

.vertical-indent {
	@mixin vertical-indent ($size) {
		padding-top: $size;
		padding-bottom: $size;
	}

	&--s {@include vertical-indent($base*5);}
	&--m {@include vertical-indent($base*15);}
	&--l {@include vertical-indent($base*30);}

	@media (max-width: $breakpoint-md-max) {
		&--m {@include vertical-indent($base*10);}
		&--l {@include vertical-indent($base*20);}	
	}

	@media (max-width: $breakpoint-xs-max) {
		&--m {@include vertical-indent($base*5);}
		&--l {@include vertical-indent($base*10);}
	}
}

.input {
	padding: $base*3 $base*4;
	font-size: $fs-xs;
	color: $color-gray-700;
	background: $color-blue-50;
	border: 1px solid transparent;
	border-radius: $base/2;	

	&--size-lg {
		padding: $base*5 $base*6;
		border-radius: $base;
	}
}

.btn {
	@include quicksand;

	display: inline-block;
	box-sizing: border-box;
	font-weight: $fw-bold;
	font-size: $fs-xs;
	margin: 0; 
	padding: $base*3 $base*4;
	text-decoration: none;
	white-space: nowrap;
	border: 1px solid transparent;
	border-radius: $base/2;
	background: none;
	transition: $transition;
	cursor: pointer;

	&--size-lg {
		padding: $base*5 $base*15;
		border-radius: $base;

		@media (max-width: $breakpoint-md-max) {
			padding-right: $base * 5;
			padding-left: $base * 5;
		}
	}

	&--primary {
		color: $color-blue-700;
		background-color: $color-gray-100;

		&:hover {
			background-color: darken($color-gray-100, 5%);
		}
	}

	&--danger {
		color: $color-red-600;
		background-color: $color-red-400;
		

		&:hover {
			background-color: darken($color-red-400, 5%);
		}
	}

	&--secondary {
		color: $color-white;
		background-color: $color-blue-500;
		

		&:hover {
			background-color: darken($color-blue-500, 5%);
		}

		&-inverted {
			color: #565F82;
			background-color: $color-white;

			&:hover {
				background-color: darken($color-white, 5%);
			}
		}
	}

	&--grayscale {
		color: $color-gray-600;
		background-color: $color-gray-50;
		box-shadow: 0 $base $base rgba(#C9D1E7, .25);

		&:hover {
			background-color: darken($color-gray-50, 5%);
		}
	}

	&--no-bg {
		color: $color-gray-300;
		border: 1px solid $color-gray-100;		

		&:hover {
			color: darken($color-gray-300, 10%);
			border: 1px solid darken($color-gray-100, 10%);
		}
		
		&-inverted {
			color: $color-gray-100;
			border-color: $color-blue-50;

			&:hover {
				color: lighten($color-gray-100, 10%);
				border-color: lighten($color-blue-50, 5%);
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include quicksand;

	padding: 0;
	margin: 0;
	font-weight: $fw-regular;
}

h2 {
	@include roboto;

	margin-bottom: $base * 4;
	font-size: $fs-xxs; 
	text-transform: uppercase;
	color: $color-blue-900;
}

.section-subtitle {
	@include quicksand;

	margin-bottom: $base * 7;
	font-size: $fs-xxl;
	color: $color-blue-900;
}

.ta-c {
	text-align: center;
}

.dots {
	@include list-null();

	display: flex;
	justify-content: center;
}

.swiper-pagination-bullet {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $base * 6;
	height: $base * 6;
	cursor: pointer;
	

	&::before {
		display: block;
		width: $base * 2;
		height: $base * 2;
		content: '';
		background-color: $color-gray-100;
		border-radius: 100%;
		transition: $transition;
	}

	&-active::before {
		background-color: $color-blue-600;
	}

	& + & {
		margin-left: $base;
	}
}

.btn-group {
	display: inline-flex;

	.btn:nth-child(1) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.btn:nth-child(2) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;	
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;	
}

// === / COMMON ===

// === NAVIGATION ===

.main-navigation {
	display: flex;
	align-items: center;

	&__inner-wrap {
		display: flex;
		flex-grow: 1;
		align-items: center;
		margin-left: $base * 18;

		.section-header & {
			@media (max-width: $breakpoint-md-max) {
				position: absolute;
				top: 100%;
				right: 0;
				z-index: 10;
				display: none;
				left: 0;
				margin-left: 0;
				padding: $base * 5;
				background-color: $color-white;
			}
		}

		@media (max-width: $breakpoint-md-max) {
			flex-direction: column;

			.socials,
			.nav {
				margin-bottom: $base * 4;
			}

			&,
			.socials,
			.btn-wrapper {
				margin-left: 0;
			}
		}
	}

	@media (max-width: $breakpoint-md-max) {
		.section-footer & {
			flex-direction: column;	

			.logo {
				margin-bottom: $base * 4;
			}	
		}
	}
}

.logo {	
	&__link {
		display: block;
		width: $base * 6;
		height: $base * 6;
		border-radius: 100%;
		background-color: $color-blue-400;
	}
}

.nav-wrapper {
	@include list-null();

	display: flex;

	&__item {
		& + & {
			margin-left: $base * 10;

			@media (max-width: $breakpoint-xs-max) {
				margin-left: 0;
			}
		}

		&-link {
			@include quicksand;

			font-size: $fs-xs;
			color: $color-gray-900;
			text-decoration: none;
			font-weight: $fw-medium;
			transition: $transition;

			&:hover {
				color: $color-blue-400;
			}

			&--active {
				font-weight: $fw-bold;
				color: $color-blue-400;
			}
		}
	}

	@media (max-width: $breakpoint-xs-max) {
		flex-direction: column;
		align-items: center;
	}
}

.socials {
	margin-left: auto;
}

.socials-wrapper {
	@include list-null();

	display: flex;
	align-items: center;
}

.socials-wrapper__item {
	margin-left: $base * 9;
}

.socials-wrapper__item-link {
	path {
		fill: $color-gray-900;
		transition: $transition;
	}	

	&:hover {
		path {
		fill: $color-blue-400;
		}	
	}
}

.btn-wrapper {
	margin-left: $base * 11;
}

// === / NAVIGATION ===

// === HEADER ===
.section-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	background-color: $color-white;

	&::before {
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		width: 100vw;
		height: 100vh;
		content: '';
		background-color: rgba(0, 0, 0, .5);   // полу-прозрачный черный;
	}

	&--active-nav {
		&::before{
			display: block;
		}

		.main-navigation__inner-wrap {
		display: flex;
		}
	}
}

.btn-burger {
	display: none;
	margin-left: auto;

	&__line {
		display: block;
		width: $base * 4;
		height: $base/2;
		background-color: $color-gray-100;

		& + & {
			margin-top: $base;
		}
	}

	@media (max-width: $breakpoint-md-max) {
		display: block;
	}
}

// === / HEADER ===

// === HERO IMAGE ===
.section-hero-image {
	position: relative;
	padding: 0;
	overflow: hidden;

	.dots {
		position: absolute;
		bottom: $base * 7;
		left: 50%;
		transform: translateX(-50%);
	}
}

.slider-hero-image {
	@include list-null();

	display: flex;

	&__item {
		min-width: 100%;
		height: $base * 140;
		text-align: center;
		background-position: 50% 100%;
		background-size: cover;
		background-repeat: no-repeat;

		&-content {
			.section-subtitle {
				font-weight: $fw-light;

				span {
					font-weight: $fw-medium;
				}
			}
			.text {
				max-width: 60%;
				margin: 0 auto $base*5;
				line-height: 2;
			}
		}
	}
}

.icon-play {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: $base * 13;
	height: $base * 13;
	background-color: $color-white;
	border-radius: 100%;
	box-shadow: 0 $base*2 $base*12 rgba(#C9D1E7, .6);

	svg {
	width: $base * 3;
	height: $base * 3;
	}
}

// === / HERO IMAGE ===

// === CUSTOMERS ===
.section-customers {
	.section-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			opacity: .3;
			transition: $transition;

			&:hover {
			opacity: 1;
			}
		}

		@media (max-width: $breakpoint-sm-max) {
			flex-wrap: wrap;
			justify-content: center;

			a {
				flex-basis: 45%;
				text-align: center;
				margin-top: $base * 3;
				margin-bottom: $base * 3;
			}
		}
	}
}
// === / CUSTOMERS ===

// === PLAN AND MANAGE ===
.section-plan-and-manage {
	position: relative;
	overflow: hidden;
	background-color: $color-gray-50;

	&__content {
		width: 60%;		

		.aside-image {
			position: absolute;
			top: 0;
			left: 50%;
		}

		.section-subtitle {
			font-weight: $fw-light;

			span {
				font-weight: $fw-medium;
			}
		}

		.text {
			margin-bottom: $base * 12;
			line-height: 2;
		}

		.btn-group {
			svg {
				margin-left: $base;
			}
		}
		@media (min-width: $breakpoint-lg-min) {
			width: 50%;
		}

		@media (max-width: $breakpoint-xs-max) {
			width: 70%;

			.aside-image {
				left: 40%;
			}
		}
	}
}
// === / PLAN AND MANAGE ===

// === FEATURES ===
.section-features {
	background: url(../img/clouds.svg) no-repeat 50% 50%;

	.section-subtitle {
		font-weight: $fw-medium;
		font-size: $fs-l;
	}

	.btns {
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
}

.features-list {
	@include list-null();

	display: flex;
	margin: 0 0 $base*25;
	text-align: center;

	&__item {
		$margin-left: $base * 10;
		$divider-width: $base * 7;

		flex-basis: 25%;
		position: relative;

		& + & {
			margin-left: $margin-left;

			&::before {
				position: absolute;
				top: $base * 30;
				left: -$divider-width - ($margin-left - $divider-width)/2;
				width: $divider-width;
				height: 1px;
				content: '';
				background-color: $color-gray-100;
			}

			@media (max-width: $breakpoint-xs-max) {
				margin-left: 0;
				margin-bottom: $base * 10;

				&::before {
					display: none;
				}
			}
		}

		&-icon {
			display: flex;
			margin: 0 auto $base*8;
			align-items: center;
			justify-content: center;
			width: $base * 17;
			height: $base * 17;
			background-color: $color-gray-50;
			border-radius: 100%;
		}

		&-title {
			@include roboto;

			margin-bottom: $base * 7;
			font-size: $fs-s;
			font-weight: $fw-bold;
			color: $color-blue-800;
		}

		&-text {
		line-height: 2;
		font-size: $fs-xs;
		}

		@media (max-width: $breakpoint-xs-max) {
			flex-basis: 45%;

			&-icon { margin-bottom: $base * 4; }
			&-title { margin-bottom: $base * 3; }
		}
	}

	@media (max-width: $breakpoint-md-max) {
		margin-bottom: $base * 15;
	}

	@media (max-width: $breakpoint-xs-max) {
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: $base * 5;
	}
}

.or-block {
	display: inline-flex;
	align-items: center;
	margin: 0 $base * 4;
	font-weight: $fw-medium;
	font-size: $fs-xs;
	line-height: $base * 10;

	&::before,
	&::after {
		content: '';
		display: block;
		width: $base * 4;
		height: 1px;
		background-color: $color-gray-100;
	}

	&::before {	margin-right: $base * 4;}

	&::after { margin-left: $base * 4;}
}

// === / FEATURES ===

// === STATS ===

.section-stats {
	display: flex;
	padding: 0;
	background-color: $color-blue-50;	

	&__icon {
		margin-bottom: $base * 6;
	}

	&__number {
		@include quicksand;

		font-size: $fs-xxl;
		margin-bottom: $base * 7;
	}

	&__text {
		@include quicksand;

		font-size: $fs-m;
		font-weight: $fw-medium;
		line-height: 1.5;

		@media (min-width: $breakpoint-lg-min) {
			width: 40%;
		}
	}

	&__left,
	&__right {
		display: flex;
		flex-direction: column;
		flex-basis: 50%;
		padding: $base*16 $base*22;
	}

	&__left { 
		text-align: right;
		background-color: $color-blue-100;
		color: $color-white;
		align-items: flex-end;

		h2 {
			color: $color-white;
		}
	}

	&__right { 
		color: $color-blue-300; 

		h2 {
		color: $color-blue-300;
		}
	}

	@media (max-width: $breakpoint-xs-max) {
		&__left,
		&__right {
			padding: $base*8 $base*10;
		}
	}
}
// === / STATS ===

// === BLOG ===
.section-blog {
	background-color: $color-gray-50;

	.section-subtitle {
		font-weight: $fw-medium;
		font-size: $fs-l;
	}
}

.slider-blog {
	position: relative;
	margin-bottom: $base * 25;

	@media (max-width: $breakpoint-md-max) {
		margin-bottom: $base * 15;
	}
}

.slider-blog-container {
	position: relative;
	border: 1px solid $color-gray-100;
	background-color: $color-white;
	box-shadow: 0 $base*3 $base*12 $color-gray-100;
	overflow: hidden;
}

.slider-blog-wrapper {
	@include list-null();

	display: flex;

	&__item {
		display: flex;
		justify-content: space-between;
		min-width: 100%;
		box-sizing: border-box;
		padding: $base*16 $base*8;

		&-gallery {
			display: grid;
			grid-template-rows: repeat(2, $base*30);
			grid-template-columns: repeat(3, $base*30);			
			grid-gap: $base*4;
			width: 100%;


			.image-link {
				position: relative;
				display: block;
				overflow: hidden;
				border-radius: $base;
				box-shadow: 0 $base*4 $base*25 $color-gray-50;

				&::after {
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: $base * 16;
					height: $base * 16;
					content: '';
					background: $color-white url(../img/loupe.svg) no-repeat 50% 50%;
					border-radius: 100%;
					opacity: 0;
					transition: $transition;
					transform: translate(-50%, -50%);					
				}

				&:hover::after {
					opacity: 1;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				&::before {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;					
					content: '';
					opacity: .7;
				}

				&--b {
					grid-row: 1 / 3;
					grid-column: 1 / 3;

					&::before {
						background: linear-gradient(transparent, $color-yellow-500);
					}
				}

				&--sm-1 {
					grid-row: 1 / 2;
					grid-column: 3 / 4;

					&::before {
						background: linear-gradient(transparent, $color-red-500);
					}
				}

				&--sm-2 {
					grid-row: 2 / 3;
					grid-column: 3 / 4;

					&::before {
						background: linear-gradient(transparent, $color-cian-500);
					}
				}
			}

			@media (max-width: $breakpoint-md-max) {
				grid-template-rows: repeat(1, 1fr);
				grid-template-columns: repeat(3, 1fr);	
				grid-gap: $base * 2;

				.image-link {
					grid-row: 1 / 2;

					&--b {grid-column: 1 / 2;}
					&--sm-1 {grid-column: 2 / 3;} 
					&--sm-2 {grid-column: 3 / 4;}
				}
			}
		}

		&-content {
			flex-grow: 1;
			margin-left: $base * 5;

			h3 {
				font-size: $fs-xl;
				margin-bottom: $base * 7;
				color: $color-blue-900;
			}

			.text {
				font-size: $fs-s;
				margin-bottom: $base * 10;
				line-height: 2;
			}
		}

		@media (max-width: $breakpoint-md-max) {
			align-items: flex-start;
			flex-direction: column;	
			padding: $base * 6;

			&-gallery {
				width: 50%;
			}

			&-content {
				position: relative;
				z-index: 5;
				margin-top: $base * 6;
				margin-left: 0;

				h3 {
					margin-bottom: $base * 3;
				}
			}
		}

		@media (max-width: $breakpoint-xs-max) {
			&-gallery {
				width: 100%;
			}
		}
	}
}

.btn-blog {
	position: absolute;
	top: 50%;
	display: block;
	width: $base * 10;
	height: $base * 10;
	background: url(../img/icon-blog-arrow.svg) no-repeat 50% 50%;

	&--prev {
		right: 100%;
		margin-right: $base * 16;
		transform: translateY(-50%);
	}

	&--next {
		left: 100%;
		margin-left: $base * 16;
		transform: translateY(-50%) rotate(180deg);
	}

	@media (max-width: $breakpoint-lg-max) {
		display: none;
	}
}
// === / BLOG ===

// === QUOTES ===
.section-quotes {
	background: linear-gradient(#EAF0FF, $color-gray-50);
	overflow: hidden;

	.section-inner {
		display: flex;
		justify-content: space-between;

		.section-subtitle {
			font-size: $fs-xl;
			font-weight: $fw-medium;
		}

		@media (max-width: $breakpoint-md-max) {
			flex-direction: column;
		}
	}

	&__left,
	&__right {
		width: 45%;

		@media (max-width: $breakpoint-md-max) {
			width: 100%;
		}
	}

	&__left {
		.text {
			line-height: 2;
		}
	}
}

.slider-quotes-container {
	width: calc(50vw + #{$base*12});
	margin: -$base*12 0 $base*10 -$base*12;
	overflow: hidden;

	@media (max-width: $breakpoint-md-max) {
		width: 110vw;
		margin-top: 0;
	}
}

.slider-quotes {
	@include list-null();

	display: flex;

	&__item {
		min-width: 25vw;
		padding: $base * 12;		
		opacity: .5;
		transition: opacity $transition;

		&.swiper-slide-active {
			opacity: 1;
		}

		@media (max-width: $breakpoint-md-max) {
			min-width: 50vw;
			margin-top: 0;
		}
	}
}

.slider-quotes-item-content {
	position: relative;
	padding: $base*10 $base*17 $base*15;
	background-color: $color-white;
	border: 1px solid $color-gray-100;
	box-shadow: 0 $base $base*12 #D4DCF1;

	&__text {
		font-size: $fs-s;
		line-height: 2;
		color: $color-gray-800;
	}

	&__photo {
		$height: $base * 15;

		position: absolute;
		top: 100%;
		left: 50%;
		width: $base * 15;
		height: $height;
		overflow: hidden;
		background-color: $color-white;
		border-radius: 100%;
		transform: translate(-50%, -$height/2);
	}
}

// === / QUOTES ===

// === FAQ ===
.section-faq {
	.section-inner {
		.section-subtitle {
			font-size: $fs-l;
			font-weight: $fw-medium;
		}
	}
}

.faq-accordion {
	@include list-null();

	&__item {
		$parent: &;

		border-bottom: 1px solid $color-gray-100;

		&--active {
			.arrow { 
				stroke: $color-gray-900;
			}

			#{$parent}-trigger {
				&-icon {
					transform: rotate(0);
				}

				&-text {
					font-weight: $fw-bold;
					color: $color-gray-900;
				}
			}

			#{$parent}-content {
				display: flex;
			}
		}

		&-trigger {
			display: flex;
			padding: $base*4;
			cursor: pointer;

			&-icon {
				width: $base * 4;
				margin-right: $base * 4;
				text-align: center;
				transform: rotate(180deg);

				.arrow { 
					stroke: $color-gray-400;
				}
			}

			&-text {
				font-size: $fs-s;
			}
		}

		&-content {
			display: none;
			padding: 0 $base*4 $base*4 $base*12;

			&-text {
				flex-grow: 1;
				font-size: $fs-s;
				line-height: 2;
			}

			&-btn {
				margin-left: $base * 15;
			}

			@media (max-width: $breakpoint-xs-max) {
				flex-direction: column;

				&-text {
					margin-bottom: $base * 2;
				}

				&-btn {
					margin-left: 0;
				}
			}
		}
	}
}
// === / FAQ ===

// === GET STARTED ===
.section-get-started {
	position: relative;
	color: $color-white;
	text-align: center;	
	background: linear-gradient($color-blue-100, $color-blue-300);

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
		content: '';
		background: url(../img/bg-clouds.svg) no-repeat 50% 50%;
	}

	.section-inner {
		position: relative;
		z-index: 10;

		h2 {
			color: $color-white;
		}

		.section-subtitle {
			font-weight: $fw-light;
			color: $color-white;

			span {
				font-weight: $fw-medium;
			}
		}

		.text {
			margin: 0 auto $base*10;
			line-height: 2;

			@media (min-width: $breakpoint-sm-min) {
				max-width: 60%;
			}
		}
	}
}
// === / GET STARTED ===

// === NEWSLETTER ===
.section-newsletter {
	background-color: $color-gray-100;

	.section-inner {
		display: flex;
		justify-content: space-between;

		@media (max-width: $breakpoint-md-max) {
			flex-direction: column;
		}
	}

	&__left {
		flex-basis: 35%;

		&-title {
			@include quicksand();

			margin-bottom: $base * 4;
			font-size: $fs-m;
			font-weight: $fw-bold;
			color: $color-blue-900;
			text-transform: none;
		}
		&-text {
			font-size: $fs-s;
			line-height: 2;
		}

		@media (max-width: $breakpoint-md-max) {
			margin-bottom: $base * 5;
		}
	}

	&__right {
		flex-basis: 55%;
	}
}

.form-newsletter {
	display: flex;

	&__input {
	flex-grow: 1;
	}

	&__btn {
		margin-left: $base * 4;
	}
}
// === / NEWSLETTER ===

// === FOOTER ===
.section-footer {
	border-bottom: 0;
}

.copyright {
	@include quicksand;

	margin-top: $base * 7;
	margin-left: $base * 24;
	font-size: $fs-xs;
	font-weight: $fw-medium;
	color: $color-gray-200;	

	@media (max-width: $breakpoint-md-max) {
		margin-left: 0;
		text-align: center;
	}
}
// === / FOOTER ===